body
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: black;
}
  
.netflix
{
   width: 7vh;
   height: 30vh;
    background-color: #b1060f;
    position: relative;
}
  
.netflix::before
{
    content: "";
    position: absolute;
    width: 7vh;
    height: 30vh;
    background-color: #e50913;
    transform: skew(20deg);
    left: 5.5vh;
    box-shadow: 0 0 2.5vh -1vh black;
}
.netflix::after
  {
    content: "";
    position: absolute;
    width: 7vh;
    height: 30vh;
    background-color: #b1060f;
    left: 11vh;
    z-index: -1;
  }
 .inside
{
    width: 7.5vh;
    height: 2vh;
    position: absolute;
    background-color: black;
    bottom: -1vh;
    transform: rotateZ(-5deg);
}
  
.inside::before
 {
    content: "";
    width: 7.8vh;
    height: 2vh;
    position: absolute;
    background-color: black;
    bottom: -1vh;
    transform: rotateZ(12deg);
    left: 10.2vh;
 }
  
  
  