@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.body{
background-image: url(background.png);
background-size: cover;
height:100vh;
}
.profile-picture{
    height:95px;
    width:100px;
    border-radius: 50%;
    margin-top: 5vh;
    margin-left: 45%;
}
.name{
    margin-left: 42%;
    font-size: 18px;
    font-family: 'Inter', sans-serif;
}
.social-menu ul {
    position: absolute;
    top: 32%;
    left: 48%;
    transform: translate(-50%, -50%);
    padding: 0;
    margin: 0;
    display: flex;
}
.social-menu ul li {
    list-style: none;
    margin: 0 7px;
}
.social-menu ul li .fa {
    color: #000000;
    font-size: 27px;
    line-height: 50px;
    transition: .5s;
}
.social-menu ul li .fa:hover {
    color: #ffffff;
}
.social-menu ul li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0,0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}
.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}
.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}
.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}
.social-menu ul li:nth-child(3) a:hover {
    background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
    background-color: #211f1f;
}
.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}
.social-menu ul li:nth-child(6) a:hover {
    background-color: #25d366;
}
@media screen  and (max-width:950px){
    .body{
    background-image: linear-gradient(#8EC5FC,#E0C3FC);
    background-size: cover;
    height: 100vh;
background-repeat: none;

    }
    .name{
        margin-left: 40%;
    }
}